{% extends '/_layout' %}



{% block main %}

<div class="container container__detail">

{% include '/_includes/navigation.twig' %}

<div class="container__detail-movie">
    <h1 class="detail__movie-title">RÊVER COMME LUI</h1>
    <h2 class="detail__movie-subtitle">to dream as he does</h2>
    <p class="detail__movie-subline">by Valentin Merz 2019</p>

    <p class="detail__movie-infotext">Louis passe l’été dans la maison familiale de son ami Paul, un manoir caché dans les bois. Il fait chaud, la maison
    est vide, les deux amants sont seuls.
    Ils jouent, font l’amour, se promènent, dorment la nuit et souvent le jour. Mais Paul, dont la mère vient de mourir,
    est fatigué et nerveux. Louis perd ses repères et commence à s‘imaginer des choses, à moins qu’il ne les rêve en
    dor- mant debout...</p>

    <div class="detail__movie-credits">
        <p class="movie__credits-directing">
            <span>Directing:</span>
            <span>Valentin Merz</span>
        </p>

        <p class="movie__credits-scriptwriting">
            <span>Scriptwriting:</span>
            <span>
                Valentin Merz<br />
                Claude Muret
            </span>
        </p>

        <p class="movie__credits-cinematography">
            <span>Cinematography:</span>
            <span>
                Charlotte Marchal
            </span>
        </p>

        <p class="movie__credits-sound">
            <span>Sound:</span>
            <span>
                Miguel Moraes Cabral<br />
                César Fernandez
            </span>
        </p>

        <p class="movie__credits-editing">
            <span>Editing:</span>
            <span>
                Léa Chatauret
            </span>
        </p>

        <p class="movie__credits-production">
            <span>Production:</span>
            <span>
                Tristan Aymon<br />
                Andrea Bardot
            </span>
        </p>

    </div>

</div>

</div>

{% endblock %}
