{% extends '/_layout' %}

{% set bodyClass = "about" %}

{% block main %}

        {% if entry.PageBackgroundImage | length %}
            {% set image = entry.PageBackgroundImage.one().getUrl('fullImage') %} 
            <div class="container container__index" style="background-image: url({{ image }});">
        
        {% elseif entry.videoBG | length %}
        {% set video = entry.videoBG.one() %}
            <div class="container container__index">  
                
            <video autoplay loop muted playsinline preload>
                <source src="{{ video.getUrl() }}" type="video/mp4">
            </video>
        {% endif %}


        <div class="container__navbox">
            {% include '/_includes/navigation.twig' %}
        </div>


        <div class="container__textcontent">

            {{ entry.contentField }}
        </div>
    
    </div>

{% endblock %}