{% extends '/_layout' %}

{% set bodyClass = "about" %}

{% block main %}

<div class="containerbg" style="background-image: url({{ entry.PageBackgroundImage.one().getUrl('fullImage') }});">

    <div class="container container__index">

        <div class="container__navbox">
            {% include '/_includes/navigation.twig' %}
        </div>


        <div class="container__textcontent">

            {{ entry.contentField }}
        </div>
    
    </div>

</div>

{% endblock %}