<ul class="container__nav">
    <li><a href="/" class="container__nav-item nav__item-home">Andrea</a></li>
    <li><a href="/films" class="container__nav-item nav__item-films">Films</a></li>
    <li><a href="/about" class="container__nav-item nav__item-about">About</a></li>
    <li><a href="/contact" class="container__nav-item nav__item-contact">Contact</a></li>
</ul>