.layout__main {
	padding: 0;
	height: auto;

	@media screen and (min-width: $bp-smallest) {
		height: 100%;
	}
}

.container {
	max-width: 1920px;
	margin: 0 auto;

	&__navbox {
		margin-left: 5px;
		margin-right: 5px;
		flex: 0 1 100%;
		grid-column: 1 / -1;
		padding: 20px 0 20px 40px;


		@media screen and (min-width: $bp-medium) {
			padding: 50px 40px 50px 40px;
		}

		&--arrow {
			height: 50px;
			width: 100%;
			display: flex;
			position: absolute;
			bottom:0;
			left:0;
			right: 0;
			align-items: center;
			text-align: center;
			justify-content: center;
			margin: 0 auto;
			z-index: 100;
			animation: updown .8s infinite  alternate;
		}

		@keyframes updown {
			0% { transform: translateY(0); }
			100% { transform: translateY(-8px); }
		}

		.navbox__arrow--link {
			width: 100%;
			img {
				width: 50px;
			}
		}

		&.mobile {
			.page--home & {
				height: 100%;
			}
		}

		.page--home & {
			height: 100vh;
		}

		.page--about & {
			grid-column: 1 / 2;
		}

		.page--films & {
			background-color: var(--color-purple);
		}

		.page--film-detail & {
			padding: 0 0 20px 0;

			@media screen and (min-width: $bp-medium) {
				padding: 0px 40px 50px 0px;
			}
		}
	}

	&__home,
	&__index,
	&__detail {
		display: grid;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;



		&--filmbox {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			/* needed for the flex layout*/
			margin-left: 5px;
			margin-right: 5px;
			flex: 1 1 200px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 0 50px 20px 50px;

			&-title {
				font-family: futura-pt-bold, sans-serif;
				font-weight: 700;
				font-style: normal;
				text-transform: uppercase;
				font-size: 3rem;
				letter-spacing: 0.1rem;
				line-height: 1.2;
			}

			&-subtitle {
				font-family: futura-pt-bold, sans-serif;
				font-weight: 700;
				font-style: normal;
				font-size: 2rem;
				text-transform: uppercase;
			}
		}

		> * {
			//background-color: #444;
			color: var(--color-white);
			margin-bottom: 10px;
		}

		/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
		@supports (display: grid) {
			> * {
				margin: 0;
			}
		}
	}

	/* no grid support? */
	&__home,
	&__index,
	&__detail {
		display: flex;
		flex-wrap: wrap;
	}

	&__home {
		display: grid;
		margin: 0 auto;
		//height: 100%;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		grid-auto-rows: minmax(250px, auto);

		@media screen and (min-width: 600px) {
			grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
			grid-auto-rows: minmax(300px, auto);
		}

		.container__navbox {
			position: relative;
			grid-row: 1 / 3;
			overflow: hidden;

			@media screen and (max-width: 768px) {
				grid-row: 1 / 2;
			}
		}

		video {
			position: absolute;
			overflow: hidden;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			width: 100.1%;
			z-index: 1;
			height: 100%;
			object-fit: cover;
		}
	}

	&__index {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		grid-auto-rows: minmax(250px, auto);

		@media screen and (min-width: 600px) {
			grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
			grid-auto-rows: minmax(300px, auto);
		}

		.page--about & {
			grid-template-columns: 100%;
			grid-auto-rows: min-content;
			min-height: 100%;

			@media screen and (min-width: $bp-medium) {
				grid-template-columns: 40% 60%;
			}

			@media screen and (min-width: $bp-large) {
				grid-template-columns: 30% 70%;
			}
		}

		.page--contact & {
			grid-auto-rows: min-content;
			height: 100%;
			min-height: 100vh;
		}


		video {
			position: absolute;
			overflow: hidden;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			width: 100.1%;
			z-index: -1;
			min-height: 100%;
			object-fit: cover;
			height: 100vw;
		}


	}

	//DETAIL PAGE FILM

	&__detail {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: min-content;
		padding: 20px 40px 20px 40px;
		min-height: 100%;
		position: relative;

		video {
			position: absolute;
			overflow: hidden;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			width: 100.1%;
			z-index: -1;
			min-height: 100%;
			object-fit: cover;
		}
	}

	// until now only on contact page
	&__text {
		grid-column: 1/-1;
		padding: 0 50px;
		display: flex;
		flex-wrap: wrap;
	}

	//Text-Container
	&__textcontent {
		font-family: minion-pro-display,serif;
		font-weight: 400;
		font-style: normal;
		font-size: 3rem;
		line-height: 1.2;

		p {
			margin: 0 0 0.6em 0;
		}

		.page--about & {
			grid-column: 1 / -1;
			padding: 20px 40px 20px 40px;
			font-style: italic;

			@media screen and (min-width: $bp-medium) {
				padding: 50px 40px 20px 40px;
				grid-column: 2 / 3;
			}

			@media screen and (min-width: $bp-largest) {
				padding-right: 200px;
			}
		}

		.container__textcontent-title {
			color: var(--color-primary);
			background-repeat: no-repeat;
			padding: 0 0 0 60px;
			font-style: italic;
			line-height: 1.6;
		}

		.container__textcontent-email {
			background-repeat: no-repeat;
			padding: 0 0 0 60px;
			font-style: normal;
			line-height: 1.6;

			a {
				color: var(--color-red);
			}
		}

		&-swiss,
		&-france {
			width: 100%;

			@media screen and (min-width: $bp-medium) {
				width: calc(50% - 20px);
			}
		}

		&-swiss {
			font-size: 3rem;
			color: var(--color-white);
			font-style: italic;
			margin: 0 0 20px 0;

			a {
				color: var(--color-white);
			}

			@media screen and (min-width: $bp-medium) {
				margin-right: 20px;
			}
		}

		&-france {
			font-size: 3rem;
			color: var(--color-white);
			font-style: italic;
		}
	}

	.detail__movie {
		&-titlebox {
			grid-column: 1 / -1;
			padding: 0 0 20px 0;
			font-family: futura-pt, sans-serif;
			font-weight: 500;

			@media screen and (min-width: $bp-medium) {
				padding: 0 0 40px 0px;
			}

			&-title {
				font-size: 4rem;
				font-style: italic;
				color: var(--color-yellow);
				text-transform: uppercase;
				line-height: 1;
			}

			&-subtitle {
				font-size: 4rem;
				font-style: italic;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1.2;
			}

			&-subline {
				font-family: minion-pro-display,serif;
				font-weight: 400;
				font-style: normal;
				font-size: 2.6rem;
				line-height: 1.5;
			}
		}

		&-infotext {
			grid-column: 1 / -1;
			font-size: 2.6rem;
			font-style: italic;
			font-family: minion-pro-display,serif;
			font-weight: 400;
			padding: 0 0 20px 0;
			line-height: 1.2;

			@media screen and (min-width: $bp-medium) {
				grid-column: 1 / 5;
				padding: 0 0 40px 0px;
			}
		}

		&-credits {
			grid-column: 1 / -1;
			grid-row: 4/7;
			column-count: 2;
			font-size: 2rem;
			font-family: minion-pro-display,serif;
			font-weight: 400;
			font-style: normal;
			padding: 0 0 20px 0;
			display: inline-block;

			@media screen and (min-width: $bp-medium) {
				column-count: 2;
				grid-column: 1 / 4;
				padding: 0 0 40px 0px;
			}

			.movie__credits-box {
				margin: 0 0 10px 0;
				break-inside: avoid-column;
				-webkit-column-break-inside: avoid;
			}

			.movie__credits-text {
				font-weight: bold;
				line-height: 1.2;
			}
		}

		&-reviews-wrapper {
			grid-column: 5/7;
			grid-row: 4/6;
			// max-height: 100px;



			// background-color: green;
			margin-bottom: 20px;
		}

		&-reviews {
			padding: 20px;
			background: rgba(100, 100, 100, .4);
			max-height: 300px;
			overflow-y: scroll;
			margin-bottom: 20px;
			border-radius: 3px;
		}

		&-filmbox {
			grid-column: 1 / -1;
			padding: 56.25% 0 0 0;
			position: relative;
			max-height: 265px;

			@media screen and (min-width: $bp-medium) {
				grid-column: 5 / 7;
				grid-row: 6/7;
			}
		}
	}

	.movie-reviews {

		&__heading {
			font-family: minion-pro-display,serif;
			font-size: 3rem;
			margin: 0 0 1rem 0;
		}

		&__title {
			font-family: minion-pro-display,serif;
			font-size: 2rem;
			margin: 0;
			line-height: 1.2;
			> a {
				padding: 0.5rem 0;
				display: block;
			}

			&:hover {
				color: var(--color-purple);
			}
		}

		&__separator {
			font-size: 18px;
			line-height: 1;
			height: 10px;
			margin: .5rem 0;
			display: inline-block;
			letter-spacing: 0.3rem;
		}

		&__url {

			color: var(--color-white);
		}
	}
}
