.container {
	&__nav {
		position: relative;
		z-index: 10;

		li {
			line-height: 1;
			cursor: pointer;
		}

		&-item {
			line-height: 1;
			color: var(--color-white);
			text-transform: uppercase;
			padding: 5px 0;
			display: block;
			font-family: 'Nunito Sans', sans-serif;
			font-size: 6rem;
			cursor: pointer;

			&.active {
				font-size: 8rem;
				color: var(--color-yellow);
			}
		}
	}

	.nav__item {
		&-home {
			color: var(--color-yellow);
			font-weight: 700;
		}

		&-films {
			font-style: italic;
			font-weight: 400;
		}

		&-about {
			font-weight: 900;
		}

		&-contact {
		}
	}

	&__detail {
		.container__nav {
			&-item {
				font-size: 3rem;

				&.active {
					font-size: 3rem;
				}
			}
		}
	}
}
