.container {
	&__nav {
		position: relative;
		z-index: 10;

		li {
			line-height: 1;
			cursor: pointer;
		}

		&-item {
			line-height: 1;
			color: var(--color-white);
			text-transform: uppercase;
			padding: 3px 0;
			display: block;
			font-size: 4.5rem;
			cursor: pointer;

			&.active {
				font-size: 6rem;
				color: var(--color-yellow);
			}
		}
	}

	.nav__item {
		&-home {
			color: var(--color-yellow);
			font-family: futura-pt-bold, sans-serif;
			font-weight: 700;
			font-style: normal;
				
		}

		&-films {
			font-family: futura-pt, sans-serif;
			font-weight: 500;
			font-style: italic;
				
		}

		&-about {
			font-family: futura-pt-bold, sans-serif;
			font-weight: 700;
			font-style: normal;
				
		}

		&-contact {
			font-family: futura-pt, sans-serif;
			font-style: normal;
			font-weight: 500;
		}
	}

	&__detail {
		.container__nav {
			&-item {
				font-size: 3rem;

				&.active {
					font-size: 3rem;
				}
			}
		}
	}
}
