

<!doctype html>
<html lang="{{craft.app.language}}">

{% include '/_includes/meta.twig' %}

<body>

    <div id="header-container" class="header-container">
        <header class="header">
            {#% include "/_includes/navigation_main.twig" %#}
        </header>
    </div>
   
    {# MAIN CONTENT #}
    <div class='layout__main' id="wrapper">
        {% block main %}
        
        {% endblock %}
    </div>

    {# FOOTER #}
    {% include '/_includes/footer.twig' %}

    {# </div> #}

</body>

<!-- DOM READY -->

{% do view.registerJsFile("/assets/js/plugins.js", {'position': 1}) %}
{% do view.registerJsFile("/assets/js/main.js") %}

</html>