{% extends '/_layout' %}

{% block main %}
    {# MAIN CONTENT #}
   
        <div class="container container__home">
            <div class="container__home--introbox">
                {% include '/_includes/navigation.twig' %}
            </div>

            <a href="#" class="container__home--filmbox">
                <h2 class="container__home--filmbox-title">To Dream as he does</h2>
                <p class="container__home--filmbox-subtitle">2019</p>
            </a>


            <div class="container__home--filmbox">
                <h2>Salvage of a galley</h2>
                <p>2019</p>
            </div>
            <div class="container__home--filmbox">
                <h2>THE TRIAL OF KLARA WENDEL</h2>
            </div>
            <div class="container__home--filmbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptates alias totam dicta laudantium sit pariatur, veniam fugiat itaque officia.
            </div>
            <div class="container__home--filmbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, eligendi.
            </div>
            <div class="container__home--filmbox">
            Lorem ipsum dolor sit.
            </div>

        </div>


{% endblock %}