{% import "_macros/activenav.html" as macros %}

<ul class="container__nav">
    <li><a href="{{ url('/') }}" class="container__nav-item nav__item-home {{ macros.is_active('andrea') }}">Andrea Films</a></li>
</ul>